@charset "URF-8";   

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #7A7A7A, #606B73); 
}
main{
    background-color: white;  
    border-radius: 10PX;
    box-shadow: 5px 5px 15px  black;  
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{color: #000;

}
h2{color:#000;

}
h3{
    color: orangered;
}

p{
    text-align: justify;
}
@font-face {
    font-family: ;
    src: url(Sports\ World-Regular.ttf) format(truetype);
}